<!-- <div role="alert" style="margin-bottom: 30px;">
  <div>


    <div class="text-center">
      <a href="https://bloom.sh/download" target="_blank" rel="noopener" class="no-decoration">
        <h1>Hey, have you tried Bloom lately?</h1>
        <img src="{{ "imgs/hero.png" | relURL }}" class="blm-promo-hero" />
      </a>
    </div>

    <div>
      <p>
        Used an earlier version, but moved on? Heard of it, but never signed up? <br/>
        Today's
        Bloom will surprise you! It's all-new, thoroughly modern, and unlike anything else.
        Now you can ditch Dropbox, Google, Evernote, or some other messy and privacy invasing products.
        Simplify and centralize around Bloom instead. It's all you need for
        personal productivity. <br/>
        <a href="https://bloom.sh/download" target="_blank" rel="noopener">Try it free today</a>
        and see what you've been missing.
      </p>
    </div>
  </div>
</div> -->
