# editors / OS
*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
*.suo
*.ntvs*
*.njsproj
*.sln
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
.idea/
.DS_Store
Thumbs.db



node_modules/
npm-debug.log
public/
resources/_gen/

# Local Netlify folder
.netlify
.serverless
dist
