@charset "utf-8";

.site-container {
  max-width: 48rem;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-header {
  .site-title {
    font-weight: 400;
    > a {
      color: $text-color;
      text-decoration: none;
      &:hover {
        border-bottom: 2px solid $text-color;
      }
    }
  }
  .site-nav {
    > a {
      color: $text-color;
      text-decoration: none;
      &:hover {
        border-bottom: 2px solid $text-color;
      }
      &.active {
        border-bottom: 2px solid $text-color;
      }
      + a {
        margin-left: 0.8rem;
      }
    }
  }
}

// Flexbox sticky footer FTW! https://j.mp/1Lt1vzH
.site-content {
  flex: 1;
  word-wrap: break-word;
  margin-top: 21px;
}

.site-footer {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  // color: $meta-color;
  // font-size: $small-font-size;

  a {
    h1, h2, h3, h4, h5 {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.text-center {
  text-align: center;
}

.sysy-pp {
	height: 150px;
	width: 150px;
	border-radius: 50%;
	margin-bottom: 0px;
}

.blm-promo-hero {
	max-height: 400px;
	border: none;
}

// .alert {
// 	// border: 1px solid $border-color;
// 	// border-radius: 8px;
// 	// padding: 20px;
// }

.no-decoration, .no-decoration:hover {
  text-decoration: none !important;
}


.lightbox {
	/** Default lightbox to hidden */
	display: none;

	/** Position and style */
	position: fixed;
	z-index: 999;
	width: 100%;
	height: 100%;
	text-align: center;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
}

.lightbox img {
	/** Pad the lightbox image */
	max-width: 90%;
	max-height: 80%;
	margin-top: 2%;
}

.lightbox:target {
	/** Remove default browser outline */
	outline: none;

	/** Unhide lightbox **/
	display: block;
}
