@charset "utf-8";

$base-font-family:  'Times New Roman', serif;
$title-font-family: arial, sans-serif;
$code-font-family:  monospace;
$base-font-size:    20px;
$small-font-size:   18px;
$base-line-height:  1.5;

$text-color:   #333;
$link-color:   #0074d9;
$anchor-color: rgba(0, 116, 217, 0.686);
$meta-color:   #a0a0a0;
$border-color: #ddd;

// @import "fonts";
@import "base";
@import "layout";
