<!DOCTYPE html>
<html lang="{{ $.Site.Language }}">
  {{ partial "head.html" . }}
  <body>
    <header>
      {{ partial "nav.html" . }}
    </header>

    <main>
      {{ block "main" . }} {{ end }}
    </main>

    <footer>
      {{ partial "footer.html" . }}
    </footer>
  </body>
  <script type="text/javascript">
    // open all links in new tab
    var links = document.getElementsByTagName('a');
    for (var iLinks = 0; iLinks < links.length; iLinks += 1) {
      if (links[iLinks].hostname != window.location.hostname) {
        links[iLinks].target = '_blank';
        links[iLinks].rel = 'noopener';
      }
    }
  </script>
  <script type="text/javascript">
    if (!window.$bloom) {
      window.$bloom = {
        project: 'dbec2db4-3b5e-4dc2-8433-752c109026f7',
        chatbox: false,
      };
    }
    (function(){d=document;s=d.createElement("script");s.src="https://bloom.sh/libs/bloom.js"; s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();
  </script>
</html>
