<!-- {{ partial "header.html" . }}

<div class="header">
  <h1>{{ .Title }}</h1>
  <h2>{{ .Site.Params.subtitle }}</h2>
</div>

<div class="content">
  {{ range ( .Paginate (where .Data.Pages "Type" "post")).Pages }}
    {{ .Render "summary"}}
  {{ end }}

  {{ partial "pagination.html" . }}

</div>

{{ partial "footer.html" . }} -->

{{ partial "header.html" . }}

<div class="header">
  <h1>{{ .Title }}</h1>
</div>
<div class="content">
  <div style="text-align: center;">
     <h3 style="display: inline-block;">
      <a href="about">About</a>
     </h3>
     -
     <h3 style="display: inline-block;">
      <a href="readings">Readings</a>
     </h3>
  </div>
  {{ range ( .Paginate (where .Data.Pages "Type" "post")).Pages.GroupByDate "2006" }}
  <h2>{{ .Key }}</h2>
  <ul>
  {{ range .Pages }}
    {{ .Render "li" }}
  {{ end }}
  </ul>
  {{ end }}
</div>

{{ partial "footer.html" . }}
