<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">

  <meta name="apple-mobile-web-app-status-bar-style" content="#424242">
  <meta name="theme-color" content="#424242">
  <meta name="msapplication-TileColor" content="#424242">


  <!-- ICONS -->
  <link rel="shortcut icon" href="{{ "imgs/favicon.png" | relURL }}">
  <!-- <link rel="android-touch-icon" href="{{ "imgs/favicon.png" | relURL }}"> -->
  <!-- <link rel="apple-touch-icon" href="{{ "imgs/favicon.png" | relURL }}" sizes="64x64" type="image/png"> -->

  <meta name="description" content="{{ .Site.Params.Description }}">
  <meta name="author" content="Sylvain Kerkour">


  <!-- SOCIAL -->
  <meta name="og:title" property="og:title" content="{{ .Site.Title }}">
  <meta name="og:description" property="og:description" content="{{ .Site.Params.Description }}">
  <meta name="og:type" property="og:type" content="website">
  <meta name="og:url" property="og:url" content="{{ .Site.BaseURL }}">
  <meta name="og:image" property="og:image" content="{{ .Site.BaseURL }}/imgs/og_image.jpg">

  <!-- <meta name="twitter:card" property="twitter:card" content="summary_large_image"> -->
  <meta name="twitter:url" property="twitter:url" content="{{ .Site.BaseURL }}">
  <meta name="twitter:title" property="twitter:title" content="{{ .Site.Title }}">
  <meta name="twitter:description" property="twitter:description" content="{{ .Site.Params.Description }}">
  <meta name="twitter:image" property="twitter:image" content="{{ .Site.BaseURL }}/imgs/og_image.jpg">

  <link rel="canonical" href="{{ .Permalink }}">
  <link rel="alternate" hreflang="en" href="{{ .Permalink }}">
  <link rel="alternate" hreflang="x-default" href="{{ .Permalink }}">


  <!-- FEEDS -->
  {{ with .Site.GetPage "/" }}
    {{ with .OutputFormats.Get "rss" -}}
      {{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}
  {{ end }}
  {{ with .Site.GetPage "/" }}
    {{ with .OutputFormats.Get "jsonfeed" -}}
      {{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}
  {{ end }}


  <!-- CSS -->
  <style>
  {{ with resources.Get "sass/style.scss" | toCSS | minify }}
    {{ .Content | safeCSS }}
  {{ end }}
  </style>

  <!-- TITLE -->
  {{ if .IsHome -}}
    <title>{{ .Site.Title }}</title>
  {{- else -}}
    <title>{{ .Site.Title }} - {{ .Title }}</title>
  {{- end }}
</head>
