<nav>
  <h1><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h1>

  <!-- {{ if ne "/subscribe/" (.Permalink | relURL) }} -->

    <a href="{{ .Site.BaseURL }}" {{ if eq "/" .Permalink }}class="active"{{ end }}>Home</a>
    <a href="{{ "/subscribe/" | relURL }}" {{ if eq "/subscribe/" (.Permalink | relURL) }}class="active"{{ end }}>Subscribe</a>
    <a href="{{ "/about/" | relURL }}" {{ if eq "/about/" (.Permalink | relURL) }}class="active"{{ end }}>About</a>
    <a href="https://academy.kerkour.com/black-hat-rust?coupon=BLOG">My Book</a>
  <!-- {{ end }} -->
  
    <p>
      The journey of a developer turned nomad entrepreneur. By Sylvain Kerkour, creator of
   <a href="https://bloom.sh">Bloom</a> and author of <a href="https://academy.kerkour.com/black-hat-rust?coupon=BLOG">Black Hat Rust</a>.
    </p>
</nav>
