<nav>
  <h1><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h1>
  <a href="{{ .Site.BaseURL }}" {{ if eq "/" .Permalink }}class="active"{{ end }}>Home</a>
  <a href="{{ "/subscribe/" | relURL }}" {{ if eq "/subscribe/" (.Permalink | relURL) }}class="active"{{ end }}>Subscribe</a>
  <a href="{{ "/about/" | relURL }}" {{ if eq "/about/" (.Permalink | relURL) }}class="active"{{ end }}>About</a>
  <p>
    Open source, minimalism, sustainability. By Sylvain Kerkour, creator of
      <a href="https://www.bloom.sh">Bloom</a>
  </p>
</nav>
