<!-- post list -->
{{ range $index, $element := $.Paginator.Pages }}
<div class="center">

  <h2 class="entry-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>

  <p class="post-meta">
    <span><a href="https://kerkour.fr">{{ index .Params.authors 0 }}</a></span>
    /
    <time datetime={{ .Date.Format "2006-01-02T15:04:05Z0700" }}>{{ .Date.Format "Mon, Jan 2, 2006" }}</time>
  </p>
  <h3></h3>
  <div class="left">
    {{ with .Description }}
      {{ . }}
    {{ else }}
      {{ .Summary }}
    {{ end }}
  </div>


  <div class="read-more">
    <b>
    <i><a href="{{ .Permalink }}">KEEP READING</a></i>
    </b>
  </div>

  {{ if .Truncated }}
  {{ end }}


</div>
{{ if ne $index (sub (len $.Paginator.Pages) 1) }}<hr>{{ end }}
{{ end }}
