<article>
  <h1 class="center">{{ .Title }}</h1>

  <p class="post-meta">
    <!-- <span><a href="https://kerkour.com">{{ index .Params.authors 0 }}</a></span> -->
    <!-- / -->
    <time datetime={{ .Date.Format "2006-01-02T15:04:05Z0700" }}>{{ .Date.Format "Mon, Jan 2, 2006" }}</time>
  </p>

  <!-- <div class="center">
    <h3><a href="/subscribe"><button type="button">Subscribe</button></a></h3>
    <small>
      I’ll write you once a week on avoiding complexity, hacking and entrepreneurship. <br />
      You can subscribe by Email, RSS or Mastodon
    </small>
  </div> -->

  <div>
    {{ .Content }}
  </div>

  <div style="margin-top: 30px; margin-bottom: 30px;">
    {{ $taxo := "tags" }} <!-- Use the plural form here -->
    {{ with .Param $taxo }}
        <strong>Tag{{ if gt (len .) 1 }}s{{ end }}:</strong>
        {{ range $index, $tag := ($.GetTerms "tags") }}
            {{- if gt $index 0 }}, {{ end -}}
            <a href="{{ .Permalink }}">{{ .LinkTitle }}</a>
        {{- end -}}
    {{ end }}
  </div>

  <div class="center" style="margin-bottom: 20px;">
    <h3><a href="/subscribe"><button type="button">Subscribe</button></a></h3>
    <small>
      <!-- I’ll write you once a week on open source, sustainability and avoiding complexity. <br /> -->
      I’ll write you once a week on avoiding complexity, hacking and entrepreneurship. <br />
      You can subscribe by Email or RSS
    </small>
  </div>

  <!-- <div class="bhr-alert">
    <img src="/imgs/black_hat_rust_cover.png" height="200" />
    <p>
        I'm writing a book about <b>Rust and offensive security!</b> <br />
        <b><a href="https://academy.kerkour.com/black-hat-rust?coupon=BLOG">Here is a coupon to save 10€ on the book</a></b><br />
        You can already start reading it in early-access! <br />
    </p>
  </div> -->
</article>
