<!-- post list -->
{{ range $index, $element := $.Paginator.Pages }}
<div class="entry-preview pt-3 pb-3">
  <a href="{{ .Permalink }}">
    <h2 class="entry-title text-center mb-2">{{ .Title }}</h2>
  </a>
  <p class="entry-meta mb-3">
    <span classn="entry-author">{{ index .Params.authors 0 }}</span>
    /
    <time datetime={{ .Date.Format "2006-01-02T15:04:05Z0700" }} class="entry-date">{{ .Date.Format "Mon, Jan 2, 2006" }}</time>
  </p>
  <h3 class="entry-subtitle">
    {{ .Params.subtitle }}
  </h3>
  <div class="entry-preview-content">
    {{ with .Description }}
      {{ . }}
    {{ else }}
      {{ .Summary }}
    {{ end }}
  </div>


  <div class="mt-3 text-center">
    <i><a href="{{ .Permalink }}" class="read-more-btn">KEEP READING</a></i>
  </div>

  {{ if .Truncated }}
  {{ end }}

    <!-- <p class="post-meta">
    Posted by {{ with .Params.author }}{{ . }}{{ else }}{{ .Site.Title }}{{ end }} {{ .Date.Format "Monday, January 2, 2006" }}
    <!-- Don't show "Last Modified on" if update happened on the same day.
    {{ if (and (not .Lastmod.IsZero) (not (eq (dateFormat "2006-01-02" .Lastmod) (dateFormat "2006-01-02" .Date)))) }}
    <br>Last Modified on {{ dateFormat "Monday, January 2, 2006" .Params.LastMod }}
    {{ end }}
    </p> -->

</div>
{{ if ne $index (sub (len $.Paginator.Pages) 1) }}<hr>{{ end }}
{{ end }}
<div class="mb-5"></div>
