<div class="alert alert-primary bloom-promo" role="alert">
  <div class="row align-middle d-flex flex-wrap align-items-center">
    <div class="col-12 col-md-5 align-middle text-center">
      <a href="https://bloom.sh/download" target="_blank" rel="noopener noreferer">
        <img src="{{ "imgs/hero.png" | relURL }}" />
      </a>
    </div>

    <div class="col-12 col-md-7">
      <a href="https://bloom.sh/download" target="_blank" rel="noopener noreferer">
        <h1>Hey, have you tried Bloom lately?</h1>
      </a>

      <p>
        Used an earlier version, but moved on? Heard of it, but never signed up? Today's
        Bloom will surprise you! It's all-new, thoroughly modern, and unlike anything else.
        Now you can ditch Dropbox, Google, Evernote, or some other messy and privacy invasing products.
        Simplify and centralize around Bloom instead. It's all you need for
        personal productivity.
        <a href="https://bloom.sh/download" target="_blank" rel="noopener noreferer">Try it free today</a>
        and see what you've been missing.
      </p>
    </div>
  </div>
</div>
