<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <meta name="apple-mobile-web-app-status-bar-style" content="#ff6600" />
    <meta name="theme-color" content="#ff6600" />
    <meta name="msapplication-TileColor" content="#ff6600" />

    <link rel="shortcut icon" href="/favicon.svg"/>
    {% if page %}
      <meta name='description' content='{{ page.description }}'>
    {% else %}
      <meta name='description' content='{{ config.description }}'>
    {% endif %}
    <meta name='author' content='{{ config.extra.author }}'>
    <title>{{ config.title }}</title>
    <!-- redirect -->
    <!-- <meta http-equiv="refresh" content="0; url=http://www.kerkour.fr"> -->
    <link rel='stylesheet' href='/main.css'>
  </head>
  <body>
    <div class='site-container'>
      <header class='site-header'>
        <h1 class='site-title'><a href='{{ config.base_url }}'>{{ config.title }}</a></h1>
        <nav class='site-nav'>
          <a href='{{ config.base_url }}/' class='{% if not page.path %}active{% endif %}'>Blog</a>
          <a href='{{ config.base_url }}/readings' class='{% if page and page.path == "readings/" %}active{% endif %}'>Readings</a>
          <a href='{{ config.base_url }}/photos' class='{% if page and page.path == "photos/" %}active{% endif %}'>Photos</a>
          <a href='{{ config.base_url }}/about' class='{% if page and page.path == "about/" %}active{% endif %}'>About</a>
        </nav>
      </header>
      <main class='site-content'>
      {% block content %}
        <ul class='posts'>
          {% set posts = get_section(path="blog/_index.md") %}
          {% for page in posts.pages %}
            {% if page.date and not page.draft %}
              <li>
                <span class='post-meta'>{{ page.date | date(format="%Y-%m-%d") }}</span><a href='{{ page.permalink }}'>{{ page.title }}</a>
                <!-- {% if page.extra.lang == "fr" %}
                🇫🇷
                {% elif page.extra.lang == "en" %}
                🇬🇧
                {% endif %} -->
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      {% endblock content %}
      </main>
      <footer class='site-footer'>
        All the content on this website is licensed under the
        <a rel="noopener license" target="_blank" href="https://creativecommons.org/licenses/by-sa/4.0/" >CC BY-SA 4.0 License</a><br/>
        <a href='rss.xml'>RSS Feed</a>
      </footer>
    </div>
  </body>
</html>
