<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="shortcut icon" href="/favicon.ico"/>
    {% if page %}
      <meta name='description' content='{{ page.description }}'>
    {% else %}
      <meta name='description' content='{{ config.description }}'>
    {% endif %}
    <meta name='author' content='{{ config.extra.author }}'>
    <title>{{ config.title }}</title>
    <link rel='dns-prefetch' href='https://fonts.googleapis.com/'>
    <link rel='stylesheet' href='/main.css'>
  </head>
  <body>
    <div class='site-container'>
      <header class='site-header'>
        <h1 class='site-title'><a href='{{ config.base_url }}'>{{ config.title }}</a></h1>
        <nav class='site-nav'>
          <a href='{{ config.base_url }}/' class='{% if not page.path %}active{% endif %}'>Posts</a>
          <a href='{{ config.base_url }}/readings' class='{% if page and page.path == "readings/" %}active{% endif %}'>Readings</a>
          <a href='{{ config.base_url }}/about' class='{% if page and page.path == "about/" %}active{% endif %}'>About</a>
        </nav>
      </header>
      <main class='site-content'>
      {% block content %}
        <ul class='posts'>
          {% set posts = get_section(path="posts/_index.md") %}
          {% for page in posts.pages %}
            {% if page.date and not page.draft %}
              <li><span class='post-meta'>{{ page.date | date(format="%Y-%m-%d") }}</span><a href='{{ page.permalink }}'>{{ page.title }}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
      {% endblock content %}
      </main>
      <footer class='site-footer'>
        <a href='rss.xml'>RSS Feed</a>
      </footer>
    </div>
  </body>
</html>
